.html_launcher_products .item-banner {
  padding: 0 15px;
  margin-bottom: 40px;
}
.html_launcher_products .launcher_list {
  display: -ms-grid;
  display: grid;
  padding-left: 40px;
  margin: 0 -15px;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
}
.html_launcher_products .external-fixed {
  position: fixed;
  top: 50%;
  left: 15%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  overflow: visible;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: inherit;
}
.html_launcher_products .external-fixed .text-vertical {
  text-align: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
.html_launcher_products .external-fixed .text-vertical span {
  font-size: 16px;
  line-height: 111.29%;
  color: #4f4f4f;
  text-transform: uppercase;
}
.html_launcher_products .external-fixed .text-vertical span.color {
  color: var(--color1);
}

@media (max-width: 1800px) {
  .html_launcher_products .external-fixed {
    left: 13%;
  }
}
@media (max-width: 1700px) {
  .html_launcher_products .external-fixed {
    left: 10%;
  }
}
@media (max-width: 1600px) {
  .html_launcher_products .external-fixed {
    left: 8%;
  }
}
@media (max-width: 1500px) {
  .html_launcher_products .external-fixed {
    left: 6.5%;
  }
}
@media (max-width: 1399px) {
  .html_launcher_products .external-fixed {
    left: 8%;
  }
}
@media (max-width: 1199px) {
  .html_launcher_products .external-fixed {
    left: 10%;
  }
}
@media (max-width: 1100px) {
  .html_launcher_products .external-fixed {
    left: 9%;
  }
}
@media (max-width: 991px) {
  .html_launcher_products .external-fixed {
    left: 13%;
  }
  .html_launcher_products .item-banner {
    margin-bottom: 30px;
  }
  .html_launcher_products .launcher_list .item-banner .banner {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .html_launcher_products .external-fixed {
    display: none;
  }
  .html_launcher_products .launcher_list {
    padding-left: 0;
    margin: 0 -8px;
  }
  .html_launcher_products .item-banner {
    padding: 0 8px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 400px) {
  .html_launcher_products .launcher_list {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
}