@font-face {
	font-family: 'skyworth';
	src: url('fonts/skyworth.ttf?9u2u7d') format('truetype'), url('fonts/skyworth.woff?9u2u7d') format('woff'),
		url('fonts/skyworth.svg?9u2u7d#skyworth') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.icon-facebook:before {
	content: '\e913';
}
.icon-instagram:before {
	content: '\e909';
}
.icon-twitter:before {
	content: '\e90b';
}

@layer utilities {
	.icon {
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: 'skyworth' !important;
		speak: never;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.icon-gift1:before {
		content: '\e900';
	}
	.icon-gift:before {
		content: '\e901';
		color: #0063b2;
	}
	.icon-calendar:before {
		content: '\e902';
	}
	.icon-clock:before {
		content: '\e903';
	}
	.icon-arrow:before {
		content: '\e904';
		color: #0063b2;
	}
	.icon-chevron-down:before {
		content: '\e905';
	}
	.icon-chevron-left:before {
		content: '\e906';
	}
	.icon-chevron-right:before {
		content: '\e907';
	}
	.icon-chevron-up:before {
		content: '\e908';
	}
	.icon-heart:before {
		content: '\e90a';
	}
	.icon-mail:before {
		content: '\e90c';
	}
	.icon-map-pin:before {
		content: '\e90d';
	}
	.icon-menu:before {
		content: '\e90e';
	}
	.icon-phone:before {
		content: '\e90f';
	}
	.icon-shield:before {
		content: '\e910';
	}
	.icon-shopping-bag:before {
		content: '\e911';
	}
	.icon-shopping-cart:before {
		content: '\e912';
	}
	.icon-focus:before {
		content: '\e914';
	}
	.icon-support:before {
		content: '\e915';
	}
	.icon-search:before {
		content: '\e916';
	}
	.icon-map:before {
		content: '\e917';
	}
	.icon-location:before {
		content: '\e918';
	}
	.icon-location1:before {
		content: '\e919';
	}
}
