@layer utilities {
	.align-full {
		width: 100vw;
		position: relative;
		left: 50%;
		transform: translateX(-50vw);
	}
}

.border1 {
	@apply relative border-t border-gray-400 pt-6;
	&:before {
		content: '';
		@apply absolute left-0 -top-[2px] h-[3px] w-32 rounded-full bg-primary-500;
	}
}

.border2 {
	@apply relative border-t border-gray-400 pt-6;
	&:before {
		content: '';
		@apply absolute left-0 -top-[2px] h-[3px] w-24 rounded-full bg-primary-500;
	}
}
