/* Lưu các font family và đường dẫn */


/* Nếu dùng  font của google thì import như này */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: GMV URW Geometric;
    src: url("./fonts/GMV URW Geometric/URWGeometricRegular.otf");
    font-display: swap;
}

@font-face {
    font-family: GMV URW Geometric light;
    src: url("./fonts/GMV URW Geometric/URWGeometricLight.otf");
    font-display: swap;
}

@font-face {
    font-family: GMV URW Geometric medium;
    src: url("./fonts/GMV URW Geometric/URWGeometricMedium.otf");
    font-display: swap;
}

@font-face {
    font-family: GMV URW Geometric bold;
    src: url("./fonts/GMV URW Geometric/URWGeometricBold.otf");
    font-display: swap;
}

@font-face {
    font-family: SVN-Cookies;
    src: url(./fonts/SVN-Cookies.ttf");
    font-display: swap;
}

@font-face {
    font-family: SVN-Coco FY;
    src: url(./fonts/SVN-Coco FY/SVN-Coco FY.ttf");
    font-display: swap;
}

@font-face {
    font-family: Agile Script Calligra;
    src: url(./fonts/font vl agile scirpt calligraphy.otf");
    font-display: swap;
}

@font-face {
    font-family: UTM Yen Tu;
    src: url(./fonts/UTM Yen Tu.ttf");
    font-display: swap;
}

